body {
  font-family: Arial, sans-serif;
  background-image: url("ListBg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: rgba(
    255,
    255,
    255,
    0.9
  ); /* Semi-transparent white background for container */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  width: 600px;
  max-width: 80%; /* Ensure the container is responsive */
}

h1 {
  text-align: center;
  color: #333;
  font-size: 36px;
  margin-bottom: 20px;
}

form {
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 12px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

button {
  padding: 12px 24px;
  font-size: 18px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  position: relative;
  padding: 10px 20px;
  background-color: lightblue;
  margin-bottom: 10px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

li:hover {
  background-color: lightgoldenrodyellow;
}

li .edit-btn,
li .delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #0a1ce4;
  transition: color 0.3s ease;
}

li .edit-btn:hover,
li .delete-btn:hover {
  color: #0cb2f4;
}
